.deps/
autom4te.cache/
compat/jansson/.deps/
stamp-h1
Makefile.in
conf361.file
configure
Makefile
compat/Makefile
compat/jansson/Makefile
config.log
config.status
*.o
compat/jansson/libjansson.a
cudaminer
